SolarFusion/SolarFusion/SolarFusion/obj/
SolarFusion/SolarFusion/SolarFusionContent/obj/
*.cachefile
SolarFusion/SolarFusion/SolarFusion/bin/
SolarFusion/GameData/obj/
SolarFusion/DataPipeline/obj/
SolarFusion/DataPipeline/bin/
SolarFusion/GameData/bin/x86/Debug/GameData.dll
SolarFusion/GameData/bin/
